[server]

[mysqld]
port		            = 3306
bind-address            = 0.0.0.0
socket		            = /var/run/mysqld/mysqld.sock
pid-file                = /var/run/mysqld/mysqld.pid
log_error               = /var/log/mysql/error.log
tmpdir                  = /tmp
user                    = mysql
expire_logs_days        = 30

[client]
port	            	= 3306
socket                  = /var/run/mysqld/mysqld.sock

[client-mariadb]
port	            	= 3306
socket                  = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket	            	= /var/run/mysqld/mysqld.sock
nice	            	= 0
skip_log_error
syslog

[mysqldump]
quick
max_allowed_packet     = 16M
